.tab-wrapper {
    width: 1280px;
    height: 44px;
    padding: 8px 0px 0px 0px;
    gap: 0px;
    opacity: 0px;
}

.tab {
    margin-left: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.tab > input[type="radio"] {
  display: none;
}

.tab-content {
  display: none;

  width: 100%;
  margin-top: 1rem;
}

#tab__btn-1:checked~#content-1,
#tab__btn-2:checked~#content-2,
#tab__btn-3:checked~#content-3,
#tab__btn-4:checked~#content-4,
#tab__btn-5:checked~#content-5,
#tab__btn-6:checked~#content-6 {
  display: block;
}

.tab > label {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  transition: color .15s ease-in-out, border-color .15s ease-in-out;
  color: #0d6efd;
  background: 0 0;
  border-bottom: 0.125rem solid transparent;
}

.tab > label:hover {
  border-bottom-color: #0d6efd;
}

.tab > input[type="radio"]:checked + label {
  cursor: default;
  font-weight: bold;
  color: #212529;
  border-bottom-color: #212529;
}